body {
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  /*background-image: url('http://news.nationalgeographic.com/content/dam/news/2015/05/18/deanpotter/01dpapprec.jpg');*/
  /*background-image: url('http://www.nationalgeographic.com/content/dam/photography/photos/000/522/52203.ngsversion.1466467298387.adapt.1900.1.jpg')*/
  /*background-image: url('http://news.nationalgeographic.com/content/dam/news/2015/07/31/halfdomegallery/11halfdomegallery.jpg');*/
  background-image: url('http://www.jimmychin.com/data/photos/1082_1mm7955_101009_20614.jpg');
}

.centering {
  margin-top: 12em;
}

button {
  background-color: #6b6b47;
  padding: 32px 16px;
  border-radius: 12px;
  border: none;
}

button:hover {
    background-color: #6b6b47; /* Lighter tan */
    color: #2e2e1f;
}

.fa-twitter-square:hover {
  background-color: #3333ff;
  color: white;
}

.quotations {
  background-color:#ccccb3;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 12px;
  font-family: 'Gentium Basic', serif;
  color: black;
}

i {
  position: relative;
  color: #6b6b47;
}

p {
  font-size: 2em;
}

.attributedTo {
  color: black;
  font-size: 1.5em;
  font-family: 'Gentium Basic', serif;

}
